#selectType{
    margin-top: 2rem;
    margin-left: 3rem;
    width: 12%;
    
}

#btnNext{
    background-color: #FCD12A;
}
.footer {
    position: none;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: rgb(88, 88, 88);
    text-align: center;
 }

.card .btn{
    background-color: #FCD12A;
}

#collapsibleNavId
{ margin-left: 75%; } 
#collapsibleNavId2
{ margin-left: 33%; } 
#collapsibleNavId2 :hover{
    color: #FCD12A;
}
#navHead
{ background-color: #131d29; }
 #btn-Login:hover
 { background-color:#FCD12A; }

 #btnConfirm{
     margin-top: 19%;
 }

 #Pleasewait{
    color: red;
    font-size: 33px;
 }
 #confirm{
     margin-top: 1.5rem;
     font-size: 25px;
 }
 #countConfirm{
     font-weight: 500;
 }

 #all{
     color: blue;
     font-size: 21px;
     font-weight: 530;
 }

 #active{
     color: rgb(3, 92, 3);
     font-size: 21px;
     font-weight: 530;
 }

 #wait{
     color: rgb(194, 194, 1);
     font-size: 21px;
     font-weight: 530;
 }

 #close{
    color:red;
    font-size: 21px;
     font-weight: 530;
 }

 #reportText{
     color: red;
 }