<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/INDEX.css">
    <link rel="stylesheet" href="style/register.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="src/Register.js"></script>
</head>
<body>
    <!-- nav Head  -->
    <nav class="navbar navbar-expand-sm " id="navHead">
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <form class="form-inline my-2 my-lg-0 ">
                <input class="form-control mr-sm-2  " type="text" placeholder="Search">
                <button class="btn btn-outline-warning my-2 my-sm-0 " type="submit">Search</button>
            </form>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item ">
                    <a class="nav-link" href="#">About Us </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Navbar  -->
    <nav class="navbar navbar-expand-lg shadow-sm navbar-light bg-light sticky-top" id="navHead">
        <a class="navbar-brand" href="#"><img src="img/logo.png" width="140px" height="45px" alt=""></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId2">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">HOME </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">POST</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">BOX</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-bell"></i></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="btn mr-sm-2" type="button" value="SIGN IN" id="btn-Login" data-target="#darkModalForm">
            </form>
        </div>
    </nav>

    <!-- text Hello -->
    <div class="cotainer">
        <main class="my-form col-lg-12 " >

            <div class="row " >
                <div class="col-md-12 col-sm-12 col-lg-6  text" id="text-register">
                    <h1 >Hello Befriend</h1>
                    <p>Things had to change and so we set to work on making that change.</p>
                </div>
               
                <!-- Register form -->
                
                <div class="col-md-12 col-sm-12 col-lg-6 mt-md-5 mb-5">
                    <div class="card ">
                        <div class="card-header" id="headRegister"><h4>SIGN UP</h4></div>
                        <div class="card-body">
                              
                                <!-- FIRST NAME to Register -->
                                <div class="form-group row">
                                    <label for="firstname" class="col-md-4 col-form-label text-md-right">Firstname*
                                        :</label>
                                    <div class="col-md-6">
                                        <input type="text" id="txtFirstname" class="form-control">
                                    </div>
                                </div>

                                <!-- LAST NAME to Register -->
                                <div class="form-group row">
                                    <label for="Lastname" class="col-md-4 col-form-label text-md-right">Lastname*
                                        :</label>
                                    <div class="col-md-6">
                                        <input type="text" id="txtLastname" class="form-control">
                                    </div>
                                </div> 

                                <!-- USERNAME to Register -->
                                <div class="form-group row">
                                    <label for="user_name"
                                        class="col-md-4 col-form-label text-md-right">Username* :</label>
                                    <div class="col-md-6">
                                        <input type="text" id="txtUsername" class="form-control" >
                                    </div>
                                </div>

                                <!-- PASSWORD to Register -->
                                <div class="form-group row">
                                    <label for="txtPassword" class="col-md-4 col-form-label text-md-right">Password*
                                        :</label>
                                    <div class="col-md-6">
                                        <input type="password" id="txtPassword" class="form-control">
                                    </div>
                                </div>

                                <!-- PHONE NUMBER to Register -->
                                <div class="form-group row">
                                    <label for="txtphonenumber" class="col-md-4 col-form-label text-md-right">Phone
                                        Number :</label>
                                    <div class="col-md-6">
                                        <input type="text" id="txtPhonenumber" class="form-control">
                                    </div>
                                </div>

                                <!-- ADDRESS to Register -->
                                <div class="form-group row">
                                    <label for="txtaddress" class="col-md-4 col-form-textarea text-md-right">Address*
                                        :</label>
                                    <div class="col-md-6">
                                        <textarea name="" id="txtAddress" cols="30" rows="5"
                                            class="form-control" id="Address"></textarea>
                                    </div>
                                </div>
                                
                                <!-- CHECK BOX to Register -->
                                <!-- <div class="form-group row  ">
                                    <div class="col-md-7 col-sm-6  col-lg-6 offset-md-4" id="textVIP">
                                        <input type="checkbox" class="form-check-input " id="towant">
                                        <label for="towant" class="form-check-lable col-md-12 col-sm-12 "> You are part
                                            of a local government organization such as the village headman, subdistrict
                                            headman or others or
                                            someone
                                            else.</label>
                                    </div>
                                </div> -->

                                <!-- INPUT IMAGE tp Regsiter -->
                                <!-- <div class="form-group row">
                                    <div class="col-md-7 col-sm-6  offset-md-4 mb-3">
                                        <form method="POST" enctype="multipart/form-data" multiple>
                                            <input type="file" name="fileUpload" id="fileUpload"><br>
                                        </form> 
                                        <label for="fileUpload">(Please take a picture with your ID card***)</label>
                                    </div> -->
                                    
                                    <div class="col-md-7 offset-md-4">
                                        <button type="button" class="btn btn-warning" id="btnSignin">
                                            SIGN UP
                                        </button>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>